# dependencies
node_modules/
client/node_modules/
api/node_modules/

# builds
dist/
api/dist/
client/dist/

# env files
.env
.env.*
!.env.example
!**/.env.example

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# editor/local
.vscode/
*.tsbuildinfo
